In [1]:
import numpy as np
import pandas as pd
from BasketballTree import Datapoint
from BasketballTree import KDTree
from BasketballTree import Node
import random

In [2]:
df = pd.read_feather('../Datasets/DUKEMBB/duke_mbb_history_stats.feather')
df

,pid,gs,gspos,minutes,fg,fga,fg3,fg3a,ft,fta,...,tovers,blk,stl,tech,fgp,fg3p,ftp,year,month,day
0,500,False,None,0.0,0,0.0,0.0,0.0,4,0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,1906,3,2
1,502,False,None,0.0,2,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,1906,3,2
2,503,False,None,0.0,1,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,1906,3,2
3,504,False,None,0.0,0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,1906,3,2
4,505,False,None,0.0,0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,1906,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24133,2774,True,f,31.0,7,14.0,1.0,4.0,1,2,...,2.0,2.0,1.0,0.0,0.500000,0.250000,0.50,2017,1,23
24134,2757,True,g,33.0,5,13.0,5.0,11.0,4,4,...,4.0,0.0,1.0,1.0,0.384615,0.454545,1.00,2017,1,28
24135,2766,True,g,33.0,11,14.0,6.0,6.0,6,10,...,3.0,0.0,0.0,0.0,0.785714,1.000000,0.60,2017,1,28
24136,2773,False,None,24.0,3,7.0,1.0,3.0,2,2,...,0.0,0.0,0.0,0.0,0.428571,0.333333,1.00,2017,1,28
24137,2774,True,f,21.0,2,6.0,1.0,3.0,3,4,...,3.0,1.0,1.0,0.0,0.333333,0.333333,0.75,2017,1,28

In [3]:
test = df[['pid', 'fg', 'day', 'month', 'year']].copy()
test.loc[:, 'timestamp'] = test['year'].astype(str) + test['month'].astype(str).str.zfill(2) + test['day'].astype(str).str.zfill(2)
test['timestamp'] = test['timestamp'].astype(int)
test['fg'] = test['fg'].astype(int)
test

        pid  fg  day  month  year  timestamp
0       500   0    2      3  1906   19060302
1       502   2    2      3  1906   19060302
2       503   1    2      3  1906   19060302
3       504   0    2      3  1906   19060302
4       505   0    2      3  1906   19060302
...     ...  ..  ...    ...   ...        ...
24133  2774   7   23      1  2017   20170123
24134  2757   5   28      1  2017   20170128
24135  2766  11   28      1  2017   20170128
24136  2773   3   28      1  2017   20170128
24137  2774   2   28      1  2017   20170128

[24138 rows x 6 columns]

In [4]:
datapoints1 = list()
for row in test.itertuples():
    dp1 = Datapoint(coordinate=[row.timestamp, row.fg], pid=row.pid)
    datapoints1.append(dp1)

tree1 = KDTree()
tree1.build_tree(datapoints1)

In [5]:
result = test.query("timestamp > 19060301 and timestamp < 19726197")
result

       pid  fg  day  month  year  timestamp
0      500   0    2      3  1906   19060302
1      502   2    2      3  1906   19060302
2      503   1    2      3  1906   19060302
3      504   0    2      3  1906   19060302
4      505   0    2      3  1906   19060302
...    ...  ..  ...    ...   ...        ...
17972  137   5   30     12  1972   19721230
17973  184   3   30     12  1972   19721230
17974  257   6   30     12  1972   19721230
17975  281   5   30     12  1972   19721230
17976  300   7   30     12  1972   19721230

[9388 rows x 6 columns]

In [6]:
# c_nodes = tree1.query_canonical( ([19060302, 0], [19361211, 2]) )

In [7]:
def print_nodes(nodes: list[Node]):
    if len(nodes) == 0:
        return
    for node in nodes:
        if node.datapoint is not None:
            print(node.datapoint.coordinate, node.datapoint.kwargs['pid'])
        else:
            print_nodes([node.left_child])
            print_nodes([node.right_child])

In [8]:
# print_nodes(c_nodes)

In [9]:
k = 5
window = [19060302 , 19726197]
data = df[['pid', 'fg', 'day', 'month', 'year']].copy()
data.loc[:, 'timestamp'] = data['year'].astype(str) + data['month'].astype(str).str.zfill(2) + data['day'].astype(str).str.zfill(2)
data['timestamp'] = data['timestamp'].astype(int)
data['fg'] = data['fg'].astype(int)
data

        pid  fg  day  month  year  timestamp
0       500   0    2      3  1906   19060302
1       502   2    2      3  1906   19060302
2       503   1    2      3  1906   19060302
3       504   0    2      3  1906   19060302
4       505   0    2      3  1906   19060302
...     ...  ..  ...    ...   ...        ...
24133  2774   7   23      1  2017   20170123
24134  2757   5   28      1  2017   20170128
24135  2766  11   28      1  2017   20170128
24136  2773   3   28      1  2017   20170128
24137  2774   2   28      1  2017   20170128

[24138 rows x 6 columns]

In [10]:
def print_nodes(nodes: list[Node]):
    for node in nodes:
        if node.datapoint is not None:
            print(node.datapoint.coordinate)
        else:
            print('Left Rectangle: ', node.left_rectangle)
            print_nodes([node.left_child])
            print('Right Rectangle: ', node.right_rectangle)
            print_nodes([node.right_child])

In [11]:
def check_longest_tao(k: int, starting_value: float, starting_timestamp: float, start_time_index: float, end_time_index: float, timestamps: np.ndarray, tree: KDTree, nodes, points) -> float:
    
    mid = (start_time_index + end_time_index) // 2
    if mid == start_time_index or mid == end_time_index:
        c_nodes1 = tree.query_canonical( [[starting_timestamp, starting_value], [timestamps[start_time_index], 9999]], nodes)
        p_above1 = 0
        for node in c_nodes1:
            p_above1 += node.children if node.children > 0 else 1

        points[0] += p_above1
        
        tau0 = timestamps[start_time_index] - starting_timestamp if timestamps[start_time_index] - starting_timestamp > 0 else 0
        tau1 = timestamps[end_time_index] - starting_timestamp if timestamps[end_time_index] - starting_timestamp > 0 else 0
        return tau0 if p_above1 == k else tau1
    
    curr_timestamp = timestamps[mid]
    canonical_nodes = tree.query_canonical( [[starting_timestamp, starting_value], [curr_timestamp, 9999]], nodes )
    if len(canonical_nodes) == 0:
        return 0
    points_above = 0
    for node in canonical_nodes:
        points_above += node.children if node.children > 0 else 1
    
    points[0] += points_above
    
    if points_above == k:
        return check_longest_tao(k, starting_value, starting_timestamp, start_time_index, mid, timestamps, tree, nodes, points)
    elif points_above > k:
        return check_longest_tao(k, starting_value, starting_timestamp, start_time_index, mid, timestamps, tree, nodes, points)
    elif points_above < k:
        return check_longest_tao(k, starting_value, starting_timestamp, mid, end_time_index, timestamps, tree, nodes, points)

def unknown_tao_tree_build(k: int, window: list, data: pd.DataFrame, tree: KDTree, debug: bool) -> KDTree or None:
    if debug:
        print("Window:", window)
    
    datapoints = list()
    longest_tao_tree = KDTree()
    data = data.query(f"timestamp >= {window[0]} and timestamp <= {window[1]}")
    unique_timestamps = data.timestamp.unique()
    unique_timestamps = unique_timestamps
    unique_timestamps = sorted(unique_timestamps)
    
    total_points = [0]
    total_nodes = [0]
    
    for row in data.itertuples():
        timestamp_index = unique_timestamps.index(row.timestamp)
        timestamps = unique_timestamps[timestamp_index:]
        longest_tao = check_longest_tao(k, row.fg+0.01, row.timestamp, 0, len(timestamps)-1, timestamps, tree, total_nodes, total_points)
        dp = Datapoint(coordinate=[row.timestamp, longest_tao], pid=row.pid, fg=row.fg)
        datapoints.append(dp)
        
        if debug and longest_tao != 0:
            print('data: ', row.timestamp, row.fg, row.pid, row.timestamp+longest_tao, longest_tao)
    print(total_points, total_nodes)
    return longest_tao_tree.build_tree(datapoints)

In [12]:
longest_tao_tree = unknown_tao_tree_build(k, window, data, tree1, debug=False)

[21795818] [20081133]

In [13]:
def canonical_node_break(node: Node, leaf_nodes: list[Datapoint], debug: bool):
    if node.datapoint is not None:
        leaf_nodes.append(node.datapoint)
        return
    else:
        canonical_node_break(node.left_child, leaf_nodes, debug)
        canonical_node_break(node.right_child, leaf_nodes, debug)
        return
    
def report_points_given_tao(tree: KDTree, window: list, tao: int, debug: bool):
    left_window = window[0]
    right_window = window[1]
    c_nodes = tree.query_canonical([[left_window, 0], [right_window, tao+0.1]])
    datapoints = list[Datapoint]
    for node in c_nodes:
        if node.datapoint is not None:
            datapoints(node.datapoint)
        else:
            canonical_node_break(node, datapoints)

In [ ]:
def build_n_trees(e: float, window: list, data: pd.DataFrame, original_tree: KDTree, debug: bool) -> (list[KDTree], list[KDTree]):
    debug = False
    list_of_trees_1 = list()
    list_of_trees_2 = list()
    # n1 = 1 + e when e = 1
    n1 = 1 + 1
    n2 = np.ceil(1 + e)
    num_rows = data.shape[0]

    tree = unknown_tao_tree_build(k=0, window=window, data=data, tree=original_tree, debug=debug)
    list_of_trees_1.append(tree)
    list_of_trees_2.append(tree)

    print('Building list of trees 1')
    # Build log(n) trees
    while n1 < num_rows:
        tree = unknown_tao_tree_build(k=n1, window=window, data=data, tree=original_tree, debug=debug)
        list_of_trees_1.append(tree)
        n1 = n1 * 2
    if n1 > num_rows:
        tree = unknown_tao_tree_build(k=num_rows, window=window, data=data, tree=original_tree, debug=debug)
        list_of_trees_1.append(tree)

    print('Building list of trees 2')
    # Build 1+e trees
    while n2 < num_rows:
        tree = unknown_tao_tree_build(k=n2, window=window, data=data, tree=original_tree, debug=debug)
        list_of_trees_2.append(tree)
        n2 = np.ceil(n2 * (1 + e))
    if n2 > num_rows:
        tree = unknown_tao_tree_build(k=num_rows, window=window, data=data, tree=original_tree, debug=debug)
        list_of_trees_2.append(tree)
        
    return list_of_trees_1, list_of_trees_2
    
        
        
def experiment(data: pd.DataFrame, debug: bool = False):
    datapoints = list()
    for row in data.itertuples():
        dp = Datapoint(coordinate=[row.timestamp, row.fg], pid=row.pid)
        datapoints.append(dp)
    
    original_tree = KDTree()
    original_tree.build_tree(datapoints)
    time_window = [data.timestamp.min(), data.timestamp.max()]
    list_trees1, list_trees2 = build_n_trees(e=0.1, window=time_window, data=data, original_tree=original_tree, debug=debug)
    if debug:
        print('Length of trees1: ', len(list_trees1))
        print('Length of trees2: ', len(list_trees2))
experiment(test, True)